<% if @list.id == current_user.id %>
  <h1> This is my wish list </h1>

  <p><%= form_for([@list, @item]) do |f| %>
    Add Items  <%= f.text_field :name %>
      <%= f.submit style: "display: none" %>
  <% end %></p>
<% else %>
  <h1> "<%= @list.user.username%>'s Wishlist" </h1>
<% end %>

<br>
<%= form_tag('/home') do -%>
<table>
  <% @list.list_items.each do |li| %>
    <tr>
      <td><h2><%= li.item.name %></h2></td>
      <% if @list.id == current_user.id %>
        <td><%= link_to "Remove", li, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><a href='#'>Edit</a></td>
      <% else %>
        <td><%= check_box_tag "[list_item_ids][]",
      li.id, (checked = true if li.selection_ids.include?(li.id)) %></td>
      <% end -%>
    <% end %>
  </tr>
    <% if @list.id != current_user.id %>
      <div><%= submit_tag 'Add to My Shopping List' %></div>
    <% end %>
  <% end %>
</table>
