<% if @list.id == current_user.id %>
  <h1> This is my wish list </h1>

  <p><%= form_for([@list, @item]) do |f| %>
    Add Items  <%= f.text_field :name %>
      <%= f.submit style: "display: none" %>
  <% end %></p>
<% else %>
  <h1> "<%= @list.user.username%>'s Wishlist" </h1>
<% end %>

<br>

<table>
  <% @list.list_items.each do |li| %>
  <tr>
    <td><h2><%= li.item.name %></h2></td>
    <% if @list.id == current_user.id %>
      <td><a href='#'>Delete</a></td>
      <td><a href='#'>Edit</a></td>
    <% end %>
  </tr>
  <% end %>
</table>
