<h1 id= "item-name"><%= "#{@list_item.item.name}" %></h1>
<div id="js-load" data-id="<%=@list_item.id%>"></div>

<a href="#" class="js-next" data-id="<%=@list_item.id%>">Next Item</a>

<h2> Why this would be a great gift </h2>
<h3 id= "li-details"><%= @list_item.details %></h3>

<% if current_user.list.id == @list_item.list_id %>
<p><button> <%= link_to "Add details", edit_list_list_item_path(@list) %> </button>
<button> <%= link_to "Back to Wish List", list_path(@list) %> </button></p>
<% end %>

Comments:

<div id= "list-item-<%= @list_item.id %>-comments">
</div>

<%= form_for [@list_item,@comment] do |f| %>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>