<h1>  </h1>

<h2> Gifts to give</h2>

<table>
  <% if !@selections.empty? %>
    <tr>
      <th> Gift Description </th>
      <th> Recipient </th>
      <th> Purchased </th>
    </tr>


      <% @selections.each do |selection| %>
      <%= form_tag (selection) do %>
        <tr>
            <% item = selection.list_item.item %>
          <td><%= link_to "#{item.name}", selection_list_item_path(selection, item) %></td>
          <td><%= link_to "#{selection.wishlist_owner.username}", list_path(selection.list_item.list) %></td>

          <!-- WIP -->
          <!-- <%= form_for (selection.list_item) do |f| %>
          <td><%= f.button "Found it", name: "button_action", value: true %>
            <%= f.submit  %></td>
          <% end %> -->

          <td><%= link_to "Remove from list", selection, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
