<!DOCTYPE html>
<html>
  <head>
    <title>GiftyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="navbar-header">
          <% if current_user %>
            Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %> | <%= link_to "Home", '/home' %> | <%= link_to "My Wish List", "/lists/#{current_user.id}" %> | <a href='/users'> Find Friends</a>
          <% else %>
            <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
          <% end %>
      </div>
    </div>
  </header>

  <div class = "main">
    <div class="container">
      <%= render 'layouts/messages' %>
      <div class = "content">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class = "content">
      </div>
    </div>
  </footer>

  </body>
</html>
